.history_container {
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 150px;
  padding: 0px 20px;
  .history_card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    width: 298px;
    height: 715px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .history_card2 {
    max-width: 298px;
    height: 715px;
    border-radius: 10px;
    object-fit: cover;
  }
  .history_card3 {
    width: 50%;
    height: 715px;
    padding: 120px 56px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: #1c1814;
    .history_card3_text {
      font-size: 18px;
      font-weight: 600;
      line-height: 21.6px;
      color: #c99e71;
    }
    h3 {
      font-size: 48px;
      font-weight: 400;
      line-height: 62.4px;
      color: #ffffff;
    }
    .history_card3_desc {
      font-size: 16px;
      font-weight: 500;
      line-height: 28.8px;
      color: #ffffffcc;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 920px) {
  .history_container {
    flex-wrap: wrap;
  }
}
@media (max-width: 793px) {
  .history_container {
    flex-direction: column;
    align-items: center;
    .history_card3 {
      padding: 50px 10px;
      height: auto;
      width: 298px;
      .history_card3_text {
        font-size: 16px;
        padding: 0px 10px;
      }
      h3 {
        font-size: 22px;
        line-height: normal;
        padding: 0px 10px;
      }
      .history_card3_desc {
        font-size: 12px;
        padding: 0px 10px;
      }
    }
  }
}
@media (max-width: 360px) {
  .history_container {
    flex-direction: column;
    align-items: center;
    .history_card3,
    .history_card2,
    .history_card1 {
      width: 250px;
    }
  }
}
